In [1]:
#import file and extract reviews.Text column for analysis
import os 
import pandas as pd
df=pd.read_csv("E:/CPC353 Assgn/Amazon tablet dataset/Tablet_Amazon.csv")
df.rename(columns={"reviews.text":"Reviews"},inplace=True)
df.head()

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.dateSeen,...,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,Reviews,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,great for beginner or experienced person. Boug...,very fast,NaN,NaN,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,NaN,NaN,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,4.0,http://reviews.bestbuy.com/3545/5620406/review...,I've had my Fire HD 8 two weeks now and I love...,Good!!!,NaN,NaN,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-12T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,NaN,NaN,explore42

In [2]:
#remove all column except review.text
df=df.iloc[:,16:17]
df.head()

                                             Reviews
0  This product so far has not disappointed. My c...
1  great for beginner or experienced person. Boug...
2  Inexpensive tablet for him to use and learn on...
3  I've had my Fire HD 8 two weeks now and I love...
4  I bought this for my grand daughter when she c...

In [3]:
#change the data type to string
df['Reviews'] = df['Reviews'].astype(str)

In [4]:
#data preprocessing to remove punctuation, special characters and whitespaces
import re, string
def clean_text(text):
    text=re.sub(r"\?", " ", text)
    text=re.sub(r"\!", " ", text)
    text=re.sub(r"\:", " ", text)
    text=re.sub(r"\n", "", text)
    text=re.sub(r"\’"," ",text)
    text=re.sub(r"\“"," ",text)
    text=re.sub(r"\”"," ",text)
    text=re.sub(r"\*"," ",text)
    text=re.sub(r'([.])\1+', r'\1', text)
    rexp=r"\.(?=[A-Za-z]{1,15})"
    text=re.sub(rexp, ". ", text)
    return text

In [5]:
# Tokenize the sentences
import nltk
from nltk import word_tokenize,sent_tokenize
df["Tokenize_Review"]=df["Reviews"].apply(lambda x:clean_text(x))

In [6]:
# Change all tokenize sentences to lowercase
df["Tokenize_Review"]=df["Tokenize_Review"].apply(lambda x:word_tokenize(x.lower()))
df.head()

,Reviews,Tokenize_Review
0,This product so far has not disappointed. My c...,"[this, product, so, far, has, not, disappointe..."
1,great for beginner or experienced person. Boug...,"[great, for, beginner, or, experienced, person..."
2,Inexpensive tablet for him to use and learn on...,"[inexpensive, tablet, for, him, to, use, and, ..."
3,I've had my Fire HD 8 two weeks now and I love...,"[i, 've, had, my, fire, hd, 8, two, weeks, now..."
4,I bought this for my grand daughter when she c...,"[i, bought, this, for, my, grand, daughter, wh..."

In [7]:
# apply part of speech and WordNet tagging on the tokenize sentences
# stopwords is remove 
from nltk.corpus import wordnet
from nltk.corpus import stopwords
pos_dict={'J':wordnet.ADJ,'V':wordnet.VERB,'N':wordnet.NOUN,'R':wordnet.ADV}
def pos_tag(text):
    tags=nltk.pos_tag(text)
    stop_word=stopwords.words("english")
    newlist=[]
    for word,tag in tags:
        if(word not in set(stop_word)):
            newlist.append(tuple([word,pos_dict.get(tag[0])]))
    return newlist

In [8]:
df["pos_tag"]=df["Tokenize_Review"].apply(lambda x:pos_tag(x))
df.head()

,Reviews,Tokenize_Review,pos_tag
0,This product so far has not disappointed. My c...,"[this, product, so, far, has, not, disappointe...","[(product, n), (far, r), (disappointed, v), (...."
1,great for beginner or experienced person. Boug...,"[great, for, beginner, or, experienced, person...","[(great, a), (beginner, n), (experienced, a), ..."
2,Inexpensive tablet for him to use and learn on...,"[inexpensive, tablet, for, him, to, use, and, ...","[(inexpensive, a), (tablet, n), (use, v), (lea..."
3,I've had my Fire HD 8 two weeks now and I love...,"[i, 've, had, my, fire, hd, 8, two, weeks, now...","[('ve, v), (fire, n), (hd, v), (8, None), (two..."
4,I bought this for my grand daughter when she c...,"[i, bought, this, for, my, grand, daughter, wh...","[(bought, v), (grand, a), (daughter, n), (come..."

In [9]:
#Lemmatize the words to its root form according to the WordNet tagging
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
def lemmatize(text):
    lemma_rew=""
    for word,pos in text:
        if pos:
            lemma=wordnet_lemmatizer.lemmatize(word,pos=pos)
            lemma_rew=lemma_rew + " " + lemma
        
    return lemma_rew

In [10]:
df["lemmatize"]=df["pos_tag"].apply(lambda x:lemmatize(x))
df.head()

,Reviews,Tokenize_Review,pos_tag,lemmatize
0,This product so far has not disappointed. My c...,"[this, product, so, far, has, not, disappointe...","[(product, n), (far, r), (disappointed, v), (....",product far disappoint child love use ability...
1,great for beginner or experienced person. Boug...,"[great, for, beginner, or, experienced, person...","[(great, a), (beginner, n), (experienced, a), ...",great beginner experienced person buy gift love
2,Inexpensive tablet for him to use and learn on...,"[inexpensive, tablet, for, him, to, use, and, ...","[(inexpensive, a), (tablet, n), (use, v), (lea...",inexpensive tablet use learn step nabi thrill...
3,I've had my Fire HD 8 two weeks now and I love...,"[i, 've, had, my, fire, hd, 8, two, weeks, now...","[('ve, v), (fire, n), (hd, v), (8, None), (two...",'ve fire hd week love tablet great value prim...
4,I bought this for my grand daughter when she c...,"[i, bought, this, for, my, grand, daughter, wh...","[(bought, v), (grand, a), (daughter, n), (come...",buy grand daughter come visit set user enter ...

In [11]:
#import textblob to calculate the sentiment polarity intensity
from textblob import TextBlob
def get_polarity(reviews):
    return TextBlob(reviews).sentiment.polarity
# get the sentiment orientation based on the sentiment polarity
def get_analysis(score):
    if score<0:
        return "negative"
    elif score==0:
        return "neutral"
    else:
        return "positive"

In [12]:
df_new=pd.DataFrame(df[['Reviews','lemmatize']])
df_new.head()

,Reviews,lemmatize
0,This product so far has not disappointed. My c...,product far disappoint child love use ability...
1,great for beginner or experienced person. Boug...,great beginner experienced person buy gift love
2,Inexpensive tablet for him to use and learn on...,inexpensive tablet use learn step nabi thrill...
3,I've had my Fire HD 8 two weeks now and I love...,'ve fire hd week love tablet great value prim...
4,I bought this for my grand daughter when she c...,buy grand daughter come visit set user enter ...

In [13]:
df_new['Polarity']=df_new['lemmatize'].apply(get_polarity)
df_new['Analysis']=df_new['Polarity'].apply(get_analysis)
df_new.head()

,Reviews,lemmatize,Polarity,Analysis
0,This product so far has not disappointed. My c...,product far disappoint child love use ability...,0.300000,positive
1,great for beginner or experienced person. Boug...,great beginner experienced person buy gift love,0.700000,positive
2,Inexpensive tablet for him to use and learn on...,inexpensive tablet use learn step nabi thrill...,0.000000,neutral
3,I've had my Fire HD 8 two weeks now and I love...,'ve fire hd week love tablet great value prim...,0.385556,positive
4,I bought this for my grand daughter when she c...,buy grand daughter come visit set user enter ...,0.351562,positive

In [14]:
# Total length of positive,neutral and negative based on the lemmatized sentences
from collections import Counter
print(Counter(df_new['Analysis']))

Counter({'positive': 4429, 'neutral': 358, 'negative': 212})

In [15]:
# Perform unigram
unigram=pd.DataFrame(Counter(" ".join(df_new['lemmatize']).split()).most_common(100),columns=['unigram','frequency'])

In [16]:
# Perform sentiment polarity and orientation on each unigram
unigram['Polarity']=unigram['unigram'].apply(get_polarity)
unigram['analysis']=unigram['Polarity'].apply(get_analysis)

In [17]:
unigram.head(10)

  unigram  frequency  Polarity  analysis
0  tablet       2330  0.000000   neutral
1   great       1829  0.800000  positive
2     use       1560  0.000000   neutral
3    love       1249  0.500000  positive
4  kindle       1174  0.000000   neutral
5     buy       1164  0.000000   neutral
6    good       1115  0.700000  positive
7   price       1004  0.000000   neutral
8    easy        914  0.433333  positive
9     n't        850  0.000000   neutral

In [18]:
# Total length of positive,neutral and negative for unigram
Counter(unigram['analysis'])

Counter({'neutral': 76, 'positive': 19, 'negative': 5})

In [19]:
# Perform bigram
from nltk.collocations import *
bigram_measures = nltk.collocations.BigramAssocMeasures()
finder = BigramCollocationFinder.from_words(" ".join(df_new['lemmatize']).split(),window_size=5)
#keeping bigrams that occur at least 5 times
finder.apply_freq_filter(5)
bigram_list_tuples=finder.nbest(bigram_measures.likelihood_ratio, 50)
frequency = finder.ngram_fd.items()

In [20]:
# sort bigram according to highest frequency
frequency_sorted=sorted(finder.ngram_fd.items(), key=lambda x: x[1], reverse=True)
bigram_extraction=pd.DataFrame(frequency_sorted,columns=['Bigram','Frequency'])

In [21]:
# create a new variable called 'new' to form a new bigram 
bigram_extraction['new']=bigram_extraction['Bigram'].apply(lambda x:" ".join(x))

In [22]:
# Perform sentiment polarity and orientation on each bigram
bigram_extraction['polarity']=bigram_extraction['new'].apply(get_polarity)
bigram_extraction['analysis']=bigram_extraction['polarity'].apply(get_analysis)
bigram_extraction.head(10)

            Bigram  Frequency           new  polarity  analysis
0      (easy, use)        506      easy use  0.433333  positive
1  (great, tablet)        447  great tablet  0.800000  positive
2   (great, price)        373   great price  0.800000  positive
3  (tablet, great)        357  tablet great  0.800000  positive
4   (kindle, fire)        297   kindle fire  0.000000   neutral
5  (tablet, price)        272  tablet price  0.000000   neutral
6    (tablet, use)        270    tablet use  0.000000   neutral
7     (read, book)        248     read book  0.000000   neutral
8    (work, great)        235    work great  0.800000  positive
9   (love, tablet)        234   love tablet  0.500000  positive

In [23]:
# Analyse the sentiment of several features of tablet
feature=bigram_extraction[bigram_extraction['new'].str.contains('screen|battery|memory|service')]
bigram_feature=feature.sort_values(['polarity','Frequency'],ascending=False)
bigram_feature.head(10)

                    Bigram  Frequency                new  polarity  analysis
2011     (perfect, screen)         13     perfect screen       1.0  positive
2021     (screen, perfect)         13     screen perfect       1.0  positive
2882   (excellent, screen)         10   excellent screen       1.0  positive
4057        (screen, best)          8        screen best       1.0  positive
5618  (excellent, battery)          6  excellent battery       1.0  positive
6997       (best, battery)          5       best battery       1.0  positive
7245   (screen, excellent)          5   screen excellent       1.0  positive
7318    (perfect, battery)          5    perfect battery       1.0  positive
7815        (best, screen)          5        best screen       1.0  positive
8399     (screen, awesome)          5     screen awesome       1.0  positive

In [24]:
# Total length of positive,neutral and negative based on the bigram
print(Counter(bigram_extraction['analysis']))
print(len(bigram_extraction))

Counter({'neutral': 5081, 'positive': 3187, 'negative': 399})
8667

In [25]:
# Perform Trigram
from nltk.collocations import *
trigram_measures = nltk.collocations.TrigramAssocMeasures()
finder = TrigramCollocationFinder.from_words(" ".join(df_new['lemmatize']).split(),window_size=5)
#keeping trigrams that occur at least 5 times
finder.apply_freq_filter(5)
trigram_list_tuples=finder.nbest(trigram_measures.likelihood_ratio, 50)
frequency = finder.ngram_fd.items()

In [26]:
# sort trigram according to highest frequency
frequency_sorted=sorted(finder.ngram_fd.items(), key=lambda x: x[1], reverse=True)
trigram_extraction=pd.DataFrame(frequency_sorted,columns=['Trigram','Frequency'])

In [27]:
trigram_extraction['new']=trigram_extraction['Trigram'].apply(lambda x:" ".join(x))

In [28]:
# Perform sentiment polarity and orientation on each trigram
trigram_extraction['polarity']=trigram_extraction['new'].apply(get_polarity)
trigram_extraction['analysis']=trigram_extraction['polarity'].apply(get_analysis)
trigram_extraction.head(10)

                  Trigram  Frequency                 new  polarity  analysis
0     (tablet, easy, use)         93     tablet easy use  0.433333  positive
1  (great, tablet, price)         87  great tablet price  0.800000  positive
2       (year, old, love)         64       year old love  0.300000  positive
3       (love, easy, use)         62       love easy use  0.466667  positive
4        (buy, year, old)         60        buy year old  0.100000  positive
5      (easy, use, great)         55      easy use great  0.616667  positive
6  (tablet, great, price)         53  tablet great price  0.800000  positive
7     (tablet, year, old)         52     tablet year old  0.100000  positive
8      (great, easy, use)         51      great easy use  0.616667  positive
9    (love, kindle, fire)         49    love kindle fire  0.500000  positive

In [29]:
# Analyse the sentiment of several features of tablet
feature=trigram_extraction[trigram_extraction['new'].str.contains('screen|battery|memory|service')]
trigram_feature=feature.sort_values(['polarity','Frequency'],ascending=False)
trigram_feature.head(10)

,Trigram,Frequency,new,polarity,analysis
1028,"(perfect, size, screen)",6,perfect size screen,1.0,positive
1559,"(excellent, battery, life)",5,excellent battery life,1.0,positive
32,"(great, battery, life)",29,great battery life,0.8,positive
82,"(battery, life, great)",21,battery life great,0.8,positive
301,"(tablet, great, screen)",12,tablet great screen,0.8,positive
390,"(screen, great, tablet)",10,screen great tablet,0.8,positive
458,"(great, tablet, screen)",9,great tablet screen,0.8,positive
633,"(screen, size, great)",8,screen size great,0.8,positive
698,"(great, screen, resolution)",8,great screen resolution,0.8,positive
739,"(tablet, screen, great)",8,tablet screen great,0.8,positive

In [30]:
# Total length of positive,neutral and negative based on the trigram
print(Counter(trigram_extraction['analysis']))
print(len(trigram_extraction))

Counter({'positive': 1443, 'neutral': 612, 'negative': 98})
2153